<div class="container mx-auto sm:px-2 md:px-6">
  <!-- INFO -->
  <div class="mt-12 mx-4 text-center">
    <div class="inline-block w-6 h-1 bg-logo-cyan"></div>
    <div class="inline-block w-6 h-1 bg-logo-orange"></div>
    <h1 class="block text-4xl mt-3 mb-10 font-medium text-center">
      Zarządzanie kategoriami
    </h1>
    <%= link_to manage_index_path, class: "w-24 h-24 p-4 border rounded font-medium hover:text-blue-dark hover:border-blue-light uppercase" do %>
      <i class="fas fa-undo mr-1"></i> Wróć
    <% end %>
  </div>
</div>
