<div class="container mx-auto sm:px-2 md:px-6">
  <!-- INFO -->
  <div class="mt-12 mx-4 text-center">
    <div class="inline-block w-6 h-1 bg-logo-cyan"></div>
    <div class="inline-block w-6 h-1 bg-logo-orange"></div>
    <h1 class="block text-4xl mt-3 mb-6 font-medium text-center">
      Panel zarządzania
    </h1>
    <p class="block leading-normal text-grey-darkest">
      Let's manage this beautiful store.<br/>
      W razie czego wiecie do kogo się zgłaszać.
    </p>
  </div>
  <!-- 1 RZAD -->
  <div class="flex mt-12 mx-4">
    <%= link_to manage_products_path, class: "w-1/3 mr-6 p-6 border rounded hover:text-blue-dark hover:border-blue-light" do %>
      <span class="text-3xl font-medium">
        <i class="far fa-list-alt mr-1"></i>
        Produkty
      </span>
      <p class="mt-4">
        Lista wszystkich rzeczy.<br/>
        Tu i teraz.
      </p>
    <% end %>
    <%= link_to manage_categories_path, class: "w-1/3 mr-6 p-6 border rounded hover:text-blue-dark hover:border-blue-light" do %>
      <span class="text-3xl font-medium">
        <i class="far fa-star"></i>
        Kategorie
      </span>
      <p class="mt-4">
        Wszystkie kategorie.<br/>
        Podkategorie też.
      </p>
    <% end %>
    <%= link_to manage_countries_path, class: "w-1/3 p-6 border rounded hover:text-blue-dark hover:border-blue-light" do %>
      <span class="text-3xl font-medium">
        <i class="far fa-flag mr-1"></i>
        Kraje
      </span>
      <p class="mt-4">
        Lista wszystkich krajów.<br/>
        Dodajmy nowe!
      </p>
    <% end %>
  </div>
  <!-- 2 RZAD -->
  <div class="flex mt-6 mb-12 mx-4">
    <div class="w-1/3 mr-6 p-6 border rounded">
      <span class="text-3xl font-medium">
        <i class="far fa-gem"></i>
        Materiały
      </span>
      <p class="mt-4">
        Lista wszystkich materiałów.<br/>
        Same najlepsze.
      </p>
    </div>
    <div class="w-1/3 mr-6 p-6 border rounded">
      <span class="text-3xl font-medium">
        <i class="far fa-hand-peace"></i>
        Jak dbać?
      </span>
      <p class="mt-4">
        Przecież to oczywiste.<br/>
        Jak najlepiej!
      </p>
  </div>
  <div class="w-1/3 p-6 border-white rounded"></div>
</div>
