<div class="container mx-auto sm:px-2 md:px-6">
  <!-- NAPIS -->
  <div class="my-6 mx-4 text-center">
    <h1 class="block text-3xl mb-6 font-normal text-center">
      Masz pytania? To świetnie!
    </h1>
    <p class="block leading-normal">
      Bo raz na tydzień sprawdzamy maile, na które i tak nie odpisujemy bo ne ma czasu.<br/>
      Pozostałych zapraszamy do sklepu stacjonarnego, którego nie znajdziecie xd.
    </p>
  </div>
  
</div>

<div class="bg-contact mt-12">
  <div class="flex container mx-auto sm:px-2 md:px-6 pt-16 justify-center">
    <div class="flex justify-between w-2/3">
      <input type="text" class="contacted w-full px-4 py-4" placeholder="Do: shop@feelaura.pl" disabled>
    </div>
  </div>
  <div class="flex container mx-auto sm:px-2 md:px-6 pt-4 justify-center">
    <div class="flex justify-between w-2/3">
      <input type="text" class="contacted w-2/5 px-4 py-4 mr-4" placeholder="Imię">
      <input type="text" class="contacted w-full px-4 py-4" placeholder="Od: E-mail">
    </div>
  </div>
  <div class="flex container mx-auto sm:px-2 md:px-6 pt-4 justify-center">
    <div class="flex justify-between w-2/3">
      <textarea rows="10" class="contacted w-full px-4 py-4" placeholder="Tekst wiadomości"></textarea>
    </div>
  </div>
</div>