/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */


  @font-face {
    font-family: 'Quicksand';
    src: url('../../../vendor/assets/fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url('../../../vendor/assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url('../../../vendor/assets/fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url('../../../vendor/assets/fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  .container-fluid {
    width: 100%;
  }

  @media(min-width: 375px) {
    .container-fluid {
      max-width: 100%;
    }
  }

  @media(min-width: 668px) {
    .container-fluid {
      max-width: 100%;
    }
  }

  @media(min-width: 992px) {
    .container-fluid {
      max-width: 992px;
    }
  }

  @media(min-width: 1200px) {
    .container-fluid {
      max-width: 1200px;
    }
  }

  input[type="text"],
  input[type="email"], 
  input[type="password"] {
    -webkit-appearance: none;
  }

  * {
    box-shadow: none !important;
  }

  html {
    font-family: 'Raleway', sans-serif;
  }

  a {
      text-decoration: none;
      color: inherit;
      margin: 0;
      padding: 0;
  }

  a:hover {
      color: inherit;
  }

  input[type=text] {
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
  }

  label {
    font-weight: 500;
  }

  td,th {
    text-align: left !important;
  }

  .post-thumbnail {
    overflow:hidden;
  }

  .post-thumbnail img {
    min-width: 100%;
  }

  .title {
    font-family: 'Playfair Display', serif;
  }

  .boxy {
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
  }

  .boxy a {
    text-decoration: none;
    font-size: 50px;
    line-height: 0;
    overflow: auto;
  }

  img.blurred {
    transition: transform .3s;
    transform: scale(1.03);
  }

  img.blurred:hover {
    transform: scale(1.11);
  }

  .slider {
    display: flex;
    overflow-x: auto;
    width: 300px;
    height: 300px;
    -webkit-overflow-scrolling: touch;
  }

  .slide {
    width: 300px;
    height: 100%;
  }

  img.grey {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) brightness(150%);
  }

  .big-thumb {
    position: relative;
    height: 0;
    padding-bottom: 100%;
  }

  #big {
    position: absolute;
    width: 100%;
    height: 100%;
    display:block;
  }

  .px-200 {
    width: 160px;
  }

  #noticed {
    display: hidden !important;
  }

  .bg-contact {
    background: url('../../assets/images/contact.jpg') no-repeat center top;
    height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .contacted {
    background-color: rgb(255, 255, 255, 0.7);
  }