 @tailwind preflight;
 @tailwind components;
 @tailwind utilities;

@font-face {
  font-family: 'Raleway';
  src: url('../../../vendor/assets/fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

  @font-face {
    font-family: 'Raleway';
    src: url('../../../vendor/assets/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('../../../vendor/assets/fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('../../../vendor/assets/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  .container-fluid {
    width: 100%;
  }

  @media(min-width: 375px) {
    .container-fluid {
      max-width: 100%;
    }
    #title-mobile {
      font-size: calc(20.96px + 3vw);
    }
  }

  @media(min-width: 668px) {
    .container-fluid {
      max-width: 100%;
    }
    #title-mobile {
      font-size: 41px;
    }
  }

  @media(min-width: 992px) {
    .container-fluid {
      max-width: 992px;
    }
  }

  @media(min-width: 1200px) {
    .container-fluid {
      max-width: 1200px;
    }
    #title-mobile {
      font-size: 42.8px;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    -webkit-appearance: none;
  }

  * {
    box-shadow: none !important;
  }

  html {
    font-family: 'Raleway', sans-serif;
  }

  a {
      text-decoration: none;
      color: inherit;
      margin: 0;
      padding: 0;
  }

  a:hover {
      color: inherit;
  }

  input[type=text] {
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
  }

  label {
    font-weight: 500;
  }

  td,th {
    text-align: left !important;
  }

  .title {
    font-family: 'Playfair Display', serif;
  }

  .boxy {
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
  }

  .boxy a {
    text-decoration: none;
    font-size: 50px;
    line-height: 0;
    overflow: auto;
  }

  img.blurred {
    transition: transform .3s;
    transform: scale(1.03);
  }

  img.blurred:hover {
    transform: scale(1.11);
  }

  .slider {
    display: flex;
    overflow-x: auto;
    width: 300px;
    height: 300px;
    -webkit-overflow-scrolling: touch;
  }

  .slide {
    width: 300px;
    height: 100%;
  }

  img.grey {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) brightness(150%);
  }

  .big-thumb {
    position: relative;
    height: 0;
    padding-bottom: 100%;
  }

  #big {
    position: absolute;
    width: 100%;
    height: 100%;
    display:block;
  }

  .px-200 {
    width: 160px;
  }

  #noticed {
    display: hidden !important;
  }

  .bg-contact {
    background: url('../../assets/images/contact.jpg') no-repeat center top;
    height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .contacted {
    background-color: rgb(255, 255, 255, 0.7);
  }

  .image-box:before {
    content: "";
    display: block;
    padding-top: 100%;
  }