<div class="flex my-6 mx-4">
  <h1 class="text-2xl mb-1 font-normal">Edytuj - <%= @product.name %></h1>
</div>

<div class="mx-4">
  <%= render 'form', product: @product %>
</div>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
