<div class="container mx-auto sm:px-2 md:px-6">
  <div class="flex my-6 mx-4">
    <h1 class="text-2xl mb-1 font-normal">Nowy produkt</h1>
  </div>

  <div class="mx-4">
    <%= render 'form', product: @product %>
  </div>
</div>